.f {
  background-color: #fe4365;
  color: aliceblue;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.m {
  background-color: #26ade4;
  color: aliceblue;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.namesList {
  max-width: 80%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.namesWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchBarWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 60px;
}

.searchBarWrapper input {
  font-family: Courier New, Courier, "monospace";
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 20px;
}
