.f {
  background-color: #64908a;
  color: aliceblue;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
  margin: 5px;
}

.m {
  background-color: #cc2a41;
  color: aliceblue;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
  margin: 5px;
}

.namesList {
  max-width: 80%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
