.f {
  background-color: #017750;
  color: aliceblue;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
  margin: 3px;
  border-radius: 5px;
}

.m {
  background-color: #b45303;
  color: aliceblue;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
  margin: 3px;
  border-radius: 5px;
}

.namesList {
  max-width: 80%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
